<phpunit>
  <testsuites>
    <testsuite name="Mon application">
        <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
        <env name="DB_HOST" value="mysql" force="true"/>
        <env name="DB_DATABASE" value="todolist" force="true"/>
        <env name="DB_USER" value="user_todolist" force="true"/>
        <env name="DB_PASSWORD" value="pw_todolist" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="DB_CHARSET" value="utf8mb4" force="true"/>
        <env name="DB_ENGINE" value="mysql" force="true"/>
  </php>
</phpunit>